<div class="container">
 <div class="row">
  <div class="col-3">
 </div>
 
 <div class="col-6">
 <table class="confirmtable">
   <tbody>
    <tr>
     <td><h3>予約内容確認</h3></td>
    </tr>
    <tr>
     <td><h3>￥<%= @reservation.price %>/日</h3></td>
    </tr>
    <%= form_with(model: @reservation, local: true) do |f| %>
    <tr>
     <td>開始日<%= f.hidden_field :start_day, :value => @reservation.start_day %>
     <%= @reservation.start_day %>
     </td>
    </tr>
    <tr>
     <td>終了日<%= f.hidden_field :end_day, :value => @reservation.end_day %>
        <%= @reservation.end_day %>
     </td>
    </tr>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :room_id, :value => @reservation.room_id %>
    <%= f.hidden_field :total_price, :value => @reservation.price * @reservation.num_people * (@reservation.end_day - @reservation.start_day).to_int %>
    <tr>
     <td>使用日数:<%= (@reservation.end_day - @reservation.start_day).to_int %>日</td>
    </tr>
    <tr>
     <td><%= f.hidden_field :num_people, :value => @reservation.num_people %>人数:<%= @reservation.num_people %>人</td>
    </tr>
    <tr>
     <td>合計金額<%= (@reservation.end_day - @reservation.start_day).to_int * @reservation.num_people * @reservation.price %></td>
    </tr>
    <tr>
     <td>上記内容でよろしければ「予約を確定」を押してください</td>
    </tr>
    <tr>
     <td><%= f.submit "予約を確定", class: 'btn btn-primary', data: {"turbolinks"=>false} %></td>
    </tr>
    <tr>
     <td><%= link_to 'ルーム詳細に戻る', room_path(@reservation.room_id), class: "btn btn-secondary", data: {"turbolinks"=>false} %></td>
    </tr>
    <% end %>
   </tbody>
  </table>
  </div>
  
  </div>
</div>