<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table class="post-table">
   <thead>
    <tr align="center">
   <%
=begin%>
 <th>ルーム画像</th> 
<% 表示確認のため一時的にコメントアウト
=end%>
     <th>ルーム名</th>
     <th>ルーム紹介</th>
     <th>料金</th>
     <th>作成日</th>
    </tr>
   </thead>
  <%= paginate @rooms %>
  <% @rooms.each do |room| %>
  <tbody>
  <tr>
   <%
=begin%>
 <td><%= link_to attachment_image_tag( room, :image, fallback: "no_image_logo.png", size: '240x140'), room_path(room), data: {"turbolinks"=>false} %></td> 
<%
=end%>
   <td><%= link_to room.name, room_path(room), data: {"turbolinks"=>false} %></td> 
   <td><%= room.introduce %></td>
   <td>￥<%= room.price %></td>
   <td><%= room.created_at.to_s(:datetime_jp) %></td>
   <td><%= link_to '削除する', room_path(room), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に削除しますか？" } %></td>
   </tr>
   </tbody>
   <% end %>
 </table>
 </div>