
<div class="container room-show">
 <div class="row">
  <div class="col-md-8">
   <div class="room-show-detile">
    <%= image_tag @room.roomimage_id.url, class: 'room_image' ,:size => '450x400' %>
   </div>
   <div class="room-show-detile">
    <%= @room.id %>
    <%= @room.user_id %>
    <%= @room.name %>
    <p class="room-show-detile-content"><%= @room.introduce %></p>
    <%= @room.address %>
   </div>
  </div>
  
 <div class="col-4">
   <h3>￥<%= @room.price %> /日</h3>
   <%= render "reservations/new" %>
 </div>
 
 
</div>
</div>