
<div class="container room-show">
 <div class="row">
  <div class="col-md-8">
    <%= image_tag @room.roomimage_id.url, class: 'room_image' ,:size => '600x400' %>
   <div class="room-show-detile">  
    <div class="room-show-profile">
      <p class="room-show-profile-name"><%= @room.name %></p>
      <p class="room-show-profile-address"><%= @room.address %></p>
    </div>
   </div>
    <p class="room-show-detile-content"><%= @room.introduce %></p>
  </div>
  
  <div class="col-4">
   <h3>￥<%= @room.price %> /日</h3>
   <%= render "reservations/new" %>
  </div>
 
 </div>
</div>